:root.theme-light { 
    --main-color: #fff;
    --text-color: #000;
    --background-image:    
    repeating-linear-gradient(#d3d3d3, transparent 2px),
    repeating-linear-gradient(90deg, transparent, #d3d3d3 2px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a); 
    --main-font: 'Inter-Variable', sans-serif;
    --main-font-weight: 400;
    --accent-font: 'PressStart2P', monospace;
    --bold-font-weight: 700;
    --label-stroke: var(--main-color);
    --disabled: #00000099;
    --button-hover-color: var(--main-color);
    --heart-contour: var(--text-color);
    --heart-main-body: #FF0000;
   
}

@media (prefers-color-scheme: light) {
    :root {  
        --main-color: #fff;
        --text-color: #000;
        --background-image: 
        repeating-linear-gradient(#d3d3d3, transparent 2px),
        repeating-linear-gradient(90deg, transparent, #d3d3d3 2px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
        --main-font: 'Inter-Variable', sans-serif;
        --main-font-weight: 400;
        --accent-font: 'PressStart2P', fantasy;
        --bold-font-weight: 700;
        --label-stroke: var(--main-color);
        --disabled: #00000099;
        --button-hover-color: var(--main-color);
        --heart-contour: var(--text-color);
        --heart-main-body: #FF0000;
    }
}

:root.theme-dark { 
    --main-color: #000;
    --text-color: #00CC14;
    --background-image: 
        repeating-linear-gradient(to right, #000, transparent 2px),
        repeating-linear-gradient(to bottom, transparent, #000 2px),
        linear-gradient(to bottom, #007f0c, #004306); 
    --main-font: 'Inter-Variable', sans-serif;
    --main-font-weight: 465;
    --accent-font: 'PressStart2P', fantasy;
    --bold-font-weight: 785;
    --label-stroke: var(--text-color);
    --disabled: #00CC1499;
    --button-hover-color: var(--text-color);
    --heart-contour: var(--text-color);
    --heart-main-body: #FF0000;
}

@media (prefers-color-scheme: dark) {
    :root {  
        --main-color: #000;
        --text-color: #00CC14;
        --background-image: 
        repeating-linear-gradient(#000, transparent 2px),
        repeating-linear-gradient(90deg, transparent, #000 2px),
        linear-gradient(to bottom, #007f0c, #004306); 
        --main-font: 'Inter-Variable', sans-serif;
        --main-font-weight: 465;
        --accent-font: 'PressStart2P', fantasy;
        --bold-font-weight: 785;
        --label-stroke: var(--text-color);
        --disabled: #00CC1499;
        --button-hover-color: var(--text-color);
        --heart-contour: var(--text-color);
        --heart-main-body: #FF0000;
    }
}