/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root { 
    --main-color: #fff;
    --text-color: #000;
    --background-image:    
    repeating-linear-gradient(#d3d3d3, transparent 2px),
    repeating-linear-gradient(90deg, transparent, #d3d3d3 2px),
    linear-gradient(#e7e7e7, #1a1a1a); 
    --main-font: 'Inter-Variable', sans-serif;
    --main-font-weight: 400;
    --accent-font: 'PressStart2P', sans-serif;
    --bold-font-weight: 700;
    --label-stroke: var(--main-color);
    --disabled: #00000099;
    --button-hover-color: var(--main-color);
    --heart-contour: var(--text-color);
    --heart-main-body: #FF0000;

}





